.App {
  text-align: center;
  background-color: #f2f2f2;
}
html body {
  background-color: #f2f2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App input {
  background-color: #e8e8e8; /* Jasny szary kolor tła */
  color: #444444; /* Trochę ciemniejszy szary kolor tekstu */
  border: 1px solid #bbbbbb; /* Szary kolor ramki */
}

.App input:focus {
  background-color: #d4d4d4; /* Ciemniejszy jasny szary kolor tła przy focus */
  border-color: #999999; /* Ciemniejszy szary kolor ramki przy focus */
}

.App textarea {
  background-color: #e8e8e8; /* Jasny szary kolor tła */
  color: #444444; /* Trochę ciemniejszy szary kolor tekstu */
  border: 1px solid #bbbbbb; /* Szary kolor ramki */
}

.App textarea:focus {
  background-color: #d4d4d4; /* Ciemniejszy jasny szary kolor tła przy focus */
  border-color: #999999; /* Ciemniejszy szary kolor ramki przy focus */
}

.App select {
  background-color: #e8e8e8; /* Jasny szary kolor tła */
  color: #444444; /* Trochę ciemniejszy szary kolor tekstu */
  border: 1px solid #bbbbbb; /* Szary kolor ramki */
}

.App select:focus {
  background-color: #d4d4d4; /* Ciemniejszy jasny szary kolor tła przy focus */
  border-color: #999999; /* Ciemniejszy szary kolor ramki przy focus */
}
